.navbar-toggler:visited
{
    background-color: rgb(134, 134, 134);
}
.tb .row
{
    min-height: 4em;
}
.row-table:nth-child(odd) span:nth-child(odd),.row-table:nth-child(even) span:nth-child(even)
{
    background-color: rgb(177, 177, 177);
}
.tb
{
    background-color: rgb(255, 255, 255);
}
.row .col-3>a,.row .col-2>a,.row .col-1>a
{
    color: rgb(22, 71, 100);
    font-weight: bold;
    text-decoration: none;    
}