.container {
  content: '';
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  background-color: rgba(179, 179, 179, 0.63);
  width: 1200px;
  height: calc(100vh - 80px);
}
body{
  margin: 0px;
}
